@model IEnumerable<E_Ticaretim.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string resim = "";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
          @*  <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
     resim ="/Images/" + item.ProductId.ToString() + "-0.jpg";
        <tr>
            
            <td>
                <a asp-action="Details" asp-route-id="@item.ProductId">@Html.DisplayFor(modelItem => item.Brand.BrandName) @Html.DisplayFor(modelItem => item.Category.CategoryName)  @Html.DisplayFor(modelItem => item.ProductName)                 @Html.DisplayFor(modelItem => item.ProductPrice) ₺                 @Html.DisplayFor(modelItem => item.ProductRate)  <img src="@resim" style="height:100px"/> </a> 
            </td>
        </tr>
}
    </tbody>
</table>
